/**********************************************
                GENERAL STYLING
***********************************************/
html, :root{
    /*font: Poppins;*/
    margin: 0;
    padding: 0;
    --primary-color : rgb(23, 76, 119);
    --text-color  : rgb(0, 0, 0);

}

body{
    font-family: "Roboto",  sans-serif;
    color: #4d4643;
    box-sizing: border-box;
}
  
a{
    color: #1bbd36;
    text-decoration: none;
}
  
a:hover {
    color: #2ae149;
    text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6 , p{
    font-family: "Roboto", sans-serif;
}

ul{
    list-style: none;
}


/**********************************************
                The Navigation
***********************************************/
.header{
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-content: center;
    background-color: rgba(239, 248, 248, 0.5);
    border-width: 4px;
    border-bottom: rgba(27, 82, 114, 0.5);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    
}
.logo{
    margin-top: 10px;
    padding-left: 0;
    margin-left: 0;
    padding-right: 50px;
}
.logo h3{
    text-align: center;
    padding-top: 20px;
    font-style: bold;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 2px 1px 5px white;
}

.navbar{
   width: 70%;
   display: flex;
   padding: 0;
   justify-content: center;
   align-content: center; 
   justify-self: center;
}

.nav-list-items{
    margin-right: 0;
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-self: center;
    padding: 0;
    background-color: rgba(17, 16, 16, 0.3);
    border-radius: 10px;
}

.nav-list-items > .list-item{
    color:rgb(0, 0, 0);
    font-style: bold;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

.media-links{
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px;
    background-color: rgba(17, 16, 16, 0.3);
    border-radius: 10px;
}

.media-links > a{
    font-size: 20px;
    padding: 15px; 
}

/** ====Media queries for small screen ******/
@media screen and (max-width: 1200px){
    .nav-list-items{
        display : none;
    }
    .navbar{
        width: 50%;
        background-color: blue;
        display: flex;
        justify-content: flex-end;
    }
    .media-links{
        background-color: rgb(128, 0, 6);
        display: flex;
        justify-content: flex-end;
    }
    
}
@media screen and (max-width: 900px){
    .logo{
        text-justify: center;
        align-items: center;
        align-content: center;
    }
    .logo h3{
        font-size: 20px;
    }
    .nav-list-items{
        display : none;
    }
    .navbar{
        width: 70%;
        background-color: yellow;
        display: flex;
        justify-content: flex-end;
    }
    .media-links{
        background-color: green;
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
    }
    
}



/**********************************************
                The Intro
***********************************************/

.intro{
    font-family: 'Roboto';
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )
                ,url(../img/about.jpg) center no-repeat;
	background-size:cover;
    background-blend-mode: darken;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.intro-text{
    width : 60%;
    text-align: center;
    text-justify: center;
    color: white;
}
.intro-text h1{
    font-weight: 800;
    font-size: 65px;
    font-style: bold;
    text-shadow: 2px 1px 5px black;
}
.intro-text span{
    border-top: rgba(37, 30, 30, 0.6);
    border-width: 10px;
}

.intro-text p{
    color:rgba(200,200,200, 1 );
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}


/**********************************************
                The Footer
***********************************************/

.footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color: rgba(239, 248, 248, 0.5);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
    padding: 10px;
    padding-bottom: 5px;
}

.footer-items, .bottom-footer{
    display: flex;
    justify-content: space-around;
}

.footer-list{
    display: flex;
    flex-direction: column;
}

.footer-list-items > .list-item a{
    text-decoration: none;
}

.copyright{
    text-align: center;
}

.bottom-footer > .media-links{
    font-size: 24px;
    
    align-items: center;
    margin-bottom: 15px;
}

  
