/**********************************************
                GENERAL STYLING
***********************************************/
html, :root{
    /*font: Poppins;*/
    margin: 0;
    padding: 0;
    --primary-color : rgb(23, 76, 119);
    --text-color  : rgb(0, 0, 0);
   

}

body{
    font-family: "Roboto",  sans-serif;
    color: #4d4643;
    box-sizing: border-box;
    display: inline-block;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  
a{
    color: rgba(9, 129, 209, 0.9);
    text-decoration: none !important;
}
  

h1, h2, h3, h4, h5, h6 , p{
    font-family: "Roboto", sans-serif;
}

ul{
    list-style: none;
}

#loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1099;
    opacity: 0.99;
    background-color: #fff;
}
#loader img{
    width: 250px;
    height: auto;
    padding: 20px;
}


/**Stling the scroolbar**/
::-webkit-scrollbar{
    width: 12px;
    margin-right: 3px;
}
::-webkit-scrollbar-track{
    background-color: rgb(171, 196, 204);
    /*margin-block: .5px;*/
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        to bottom,
        #5f5568,
        #0f7063,
        #0e93d1,
        #05466b,
        #0421a1,
        #5a5261
    );
    border-radius: 100vw;
    border: 1px solid  rgb(171, 196, 204);
   
}

::-webkit-scrollbar-thumb:hover{
    background-color: #5e82f7;
}


/**********************************************
                The Navigation
***********************************************/
.header{
    position: sticky;
    top: 0;
    min-width: 100%;
    max-width: 100% !important;
    padding: 0;
    z-index: 999;
    background-color: rgb(252, 252, 252, .95);
    border-bottom: rgba(27, 82, 114, 0.5);
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 1);
    transition: all 0.5s;
    overflow-x:hidden;
}

#header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@keyframes changecolor{
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}


.logo{
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: linear-gradient(
        to top right,
        rgba(1, 94, 74, .9),
        rgba(18, 2, 138, 0.8), 
        rgba(4, 93, 128, 0.9),
        rgba(2, 75, 80, 0.89),
        rgba(39, 4, 85, 0.9)
    );
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.logo:hover{
    animation: changecolor 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.navbar{
   align-self: center;
   margin: 0;
   margin-left: 20px;
   margin-top: 12px;
   transition: 500ms ease-in-out;
}


.nav-list-items{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav-list-items > .list-item{
    position: relative;
    padding: 10px;
}
.nav-list-items > .list-item a{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: bold;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
    color: #343434;
    text-decoration: none; 
}

.nav-list-items > .active-list-item a, .nav-list-items > .list-item:hover a{
    color:  rgba(9, 129, 209, 0.9);
    font-size: 15px;
    letter-spacing: .5px;
}


.tool-tip{
    font-family: "Roboto", san-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: bold;
    letter-spacing: 1px;
    position: absolute;
    display: none;
    padding: 5px; 
    background-color:rgba(0, 0, 0, 0.8); 
    color: white;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    border-radius: 3px;
    z-index: 1009;
}



#header >.container >.media-links-head{
    display: none;
}



#header >.container >.media-links-head > a{
    font-size: 24px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    padding: 15px;
}
.media-links a i {
    line-height: 0;
  }




 .mobile-menu-toggle{
    font-size: 28px;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    background-color: #2096c5;
    text-align: center;
    padding-block: auto;
    cursor: pointer;
    margin-left: 12px;
    transition: 0.5s;
    margin: 10px;
    display: none;
}


/** ====Media queries for small screen ******/

/**small laptops and tablets + mobile**/
@media screen and (max-width: 1050px){
   
    #header > .container > .navbar{
        display: none;
    }

    #header .container > .navbar{
        position: fixed;
        display: none;
        top: 50px;
        bottom: 20px;
        width: 380px;
        z-index: 1001;
        background-color: #fff;
        min-height: 300px;
    }

    .nav-list-items{
        width: 100%;
        height: 80%;
        align-self: center;
        justify-self: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: auto;
    }
    .nav-list-items a{
        font-size: 15px;
    }

    .nav-list-items > .active-list-item a, .nav-list-items > .list-item:hover a{
        color: #2096c5;
        font-size: 20px;
        letter-spacing: .5px;
    }
    
   .mobile-menu-toggle{
       display: inline-block;
   }
   #header >.container >.media-links-head{
       display: flex;
   }
}

@media screen and (max-width: 800px){
    .media-links-head{
        display: none !important;
    }
}




/**********************************************
                The Intro
***********************************************/

@keyframes updateBg{
    0%{
        background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )
        ,url(../img/general/about-3.JPG) center no-repeat;  
        background-size:cover;
    }
    25%{
        background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )
        ,url(../img/general/about-6.JPG) center no-repeat; 
        background-size:cover;   
    }
    50%{
        background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )
        ,url(../img/general/about-nm.JPG) center no-repeat; 
        background-size:cover; 
    }
    75%{
        background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )
        ,url(../img/general/about-5.JPG) center no-repeat;
        background-size:cover;  
    }
    100%{
        background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )
        ,url(../img/general/about-2.jpg) center no-repeat; 
        background-size:cover; 
    }
}

.intro{
    font-family: 'Roboto';
    background:linear-gradient( rgba(4, 226, 255, 0.9), rgba(4, 0, 255, 0.9) )
                ,url(../img/general/about.jpg) center no-repeat;
    filter: blur(100%);
	background-size:cover;
    transition: 2s;
    animation: updateBg 12s infinite linear;
    min-height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.intro-text{
    width : 60%;
    text-align: center;
    text-justify: center;
    margin: auto;
    color: white;
    z-index: 20;
}
.intro-text h1{
    font-weight: 800;
    font-size: 3em;
    font-style: bold;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-shadow: 2px 1px 5px black;
}
.intro-text span{
    border-top: rgba(37, 30, 30, 0.6);
    border-width: 10px;
}

.intro-text p{
    color:rgba(200,200,200, 1 );
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}


/**********************************************
                The Footer
***********************************************/

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, .2);
    padding: 10px;
    padding-top: 60px;
}


.footer-items, .bottom-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bottom-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.address span{
    font-style: bold;
    font-weight: 600;
}

.footer-list{
    display: flex;
    flex-direction: column;
}

.footer-list-items > .list-item a{
    text-decoration: none;
    font-weight: 600;
    font-style: bold;
}
.footer-list-items > .list-item:hover a{
    color: rgba(9, 129, 209, 0.9);
}


.newsletter{
    text-align: center;
}

.newsletter form{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border-radius : 10px;
    margin: auto;
}

.newsletter input[type="email"]{
    outline: 0;
    border: 0;
    margin: auto ;
    padding: 4px;
    height: 35px;
    width: 80%;
}

.newsletter > input[type="submit"] {
    text-transform: capitalize;
    font-style: bold;
    font-family: "Roboto";
    font-weight: 600;
    color: white;
    margin: auto;
    background-color: rgba(9, 129, 209, 0.9);;
}


.copyright{
    font-style: bold;
    font-family: "Roboto";
    font-weight: 600;
    text-align: center;
}


.media-links > a{
    font-size: 24px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}
.media-links > a:hover {
    color: #fff;
    background-color: rgba(9, 129, 209, 0.9);
}
.media-links a i {
    line-height: 0;
  }

  .bottom-footer{
      padding-bottom: 20px;
      padding-top: 15px;
      min-width: 100%;
      margin: 0px;
  }


.bottom-footer > .media-links{
    align-items: center; 
}

  
#back-to-top{
    position: fixed;
    display: inline-block;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

#back-to-top i{
    font-size: 44px;
    color: rgba(9, 129, 209, 0.9);
}




/*********************************************************************************
********************************************************************************
*********************ABOUT PAGE SPECIFIC STYLING*********************************
***********************************************************************************
**********************************************************************************/


/**************************************
***********concept******************
************************************/


.conception-container{
    min-height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.ket-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    min-width: 350px;
    width: 30%;
    padding: 5px;
    border-radius: 5%;
}

.ket-img:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}
.ket-img > img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.the-story{
    border-radius: 5%;
    margin: 24px;
    min-width: 350px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    width: 30%;
    padding: 22px;
}

.the-story:hover{
    color: black;
    background-color: white;
    display: block;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}


/*********************************************************************************
********************************************************************************
*********************TEAM PAGE SPECIFIC STYLING*********************************
***********************************************************************************
**********************************************************************************/


/**************************************
***********ambassardors******************
************************************/

.team{
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.ket-team{
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: flex-start;
    align-items: flex-start ;
}


.ket-team > .team-member{
    width: 300px;
    height: 300px;
    display: block;
    background-color: rgba(200,200,200, 1 );
    margin-top: 10px;
    margin-bottom: 10px;
}







/*********************************************************************************
********************************************************************************
*********************Contact PAGE SPECIFIC STYLING*********************************
***********************************************************************************
**********************************************************************************/


/**************************************
***********THe contact form******************
************************************/

.map-section{
    margin-top: 20px;
    width: 100%;
    overflow-x: hidden;
}

.contact{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
}

.contact-info{
    width: 80%;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 40px;
    margin: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(max-width: 900px){
    .contact-info{
        flex-direction: column;
        justify-content: flex-start;
    }
}

.contact-info i {
    font-size: 20px;
    color: #2096c5;
    float: left;
    width: 44px;
    height: 44px;
    border: 1px solid #2096c5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s;
  }
  .contact-info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #111;
  }
  
  .contact-info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #444444;
  }
  
  .contact-info:hover i {
    background: #2096c5;
    color: #fff;
  }
  

.contact-form{
    width: 80%;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    margin: 12px;
}

.email-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: 675px){
    .email-form, .contact-info, .contact-form{
        width: 100%;
    }
}

.email-form input, textarea{
    margin-bottom: 20px;
}

.email-form input, textarea{
    box-shadow: none !important;
    font-size: 14px;
    border-radius: 4px;
}

.email-form input{
    height: 44px;
}

.email-form textarea{
    padding: 10px 12px;
}

.email-form button[type="submit"]{
    border: 0;
    padding: 10px 24px;
    margin-top: 15px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    align-self: center;
}

.message-status, .m-error, .m-success{
    display: none;
}













/*********************************************************************************
********************************************************************************
*********************Library PAGE SPECIFIC STYLING*********************************
***********************************************************************************
**********************************************************************************/


/**************************************
***********THe Notes section******************
************************************/
.library{
    margin-top: 15px;
}

.library > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px 0px;
    background-color: rgba(10, 10, 10, 0.4);
    transition: 500ms ease-in-out;
}
.library > section *{
    /*transition: 500ms ease-in-out;*/

}
.library-info{
    margin: auto;
    border-radius: 25%;
    width: 90%;
    color:rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
}

.library-info h2{
    font-weight: 800;
    font-size: 2em;
    font-style: bold;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color: rgb(0, 0, 0);
    text-shadow: 2px 1px -5px rgba(239, 248, 248, 0.5);
}

.library-info p{
    color:rgba(255, 255, 255, 0.9);
    font-size: 1.2em;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.content-title{
    text-align: center;
    padding: 30px 0;
    position: relative;
}
.content-title span{
    position: absolute;
    top: 30px;
    color: rgb(217, 230, 235);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}
.content-title h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #191919;
    position: relative;
    z-index: 2;
}

.content-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 575px) {
    .content-title h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
    .content-title span {
      font-size: 38px;
    }
  }


/*Styele for paper work: notes, past questions and answers*/
  

  .atomic-item{
    display: table-row;
    position: relative;
    width: 300px;
    height: 350px;
    background-size:cover !important;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    margin: 10px;
    border-radius: 5px;
  }

  .atomic-item > .atomic-title{
      font-size: 1.2em;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      color: rgba(17, 18, 19, 0.6);
      width: 100%;
      top:0;
      text-align: center;
  }

.atomic-item > .actions-bar{

    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow:hidden;
    border-radius: inherit;
}

  .atomic-item  i{
    font-size: 40px;
    color: rgba(255, 255, 255, .8);
  }
  .atomic-item > .actions-bar > i > span {
    font-size: 12px;
    font-family: 'Roboto';
    font-style: bold;
    background-color: rgb(20, 170, 120);
    color: black;
    position: absolute;
    margin-top: 2px;
    right: 6px;
  }
  .atomic-item i:hover{
    color:rgb(35, 57, 75);
  }

  .atomic-item > div[id^="atomicItem-desc"]{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 400ms;
      background-color: rgba(0, 0, 0, .9);
      color: #fff;
      padding: 17px;
      z-index: 109;
      text-align: center;
      border-radius: inherit;
      display: none;
  }
  .atomic-item > div[id^="atomicItem-desc"] p{
      margin-top: 20px;
  }
  .atomic-item > div[id^="atomicItem-desc"] i{
      padding-top: 20px;
      margin: auto;
      width: 100%;
  }

  

  /***style the select section***/
  .item-search{
      text-align: center;
      width: 60%;
      margin: auto;
  }

  @media(max-width: 600px){
      .item-search{
          width: 100%;
      }
  }

  .item-search label{
      font-family: "Poppins", sans-serif;
  }

  .item-search select{
      width: 80%;
      height: 30px;
  }
  .item-search select:focus{
      border-width: 2px;
      border-color: #2096c5;
      transition: ease-in-out .1s;
  }

  .item-search > .select-subject{
    margin: 10px;
    width: 80%;
    align-self: center;
    justify-content: center;
  }

  .item-search > .search-item{
      width: 70%;
  }
  /*Videos*/

  .video-item{
    width: 380px;
    height: 300x;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .vid-videos{
    width: 100%;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 0 12px -10px rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
  }

  .video-desc{
      width: fit-content;
      position: relative;
      margin-top: 10px;
      padding: 10px;
      text-align: center;
      font-weight: 14px;
      font-family: "Roboto";
      border-radius: 4px;
      color: #ddd;
      background-color: rgba(0, 0, 0, .7);
  }

  /*********************************************************************************
********************************************************************************
*********************Services PAGE SPECIFIC STYLING*********************************
***********************************************************************************
**********************************************************************************/
#services{
    margin-top: 20px;
}
#services > section{
    margin: 20px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
}

#services article{
    width: 300px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 15px;
    margin: 20x;
    z-index: 55;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    transition: 560ms;
}

#services article:hover{
    transform: translateY(-25px);
    background-color: rgba(0, 0, 0, 0.5);
    color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 24px -4px rgba(0, 0, 0, 0.12);
}

#services article img{
    width: 130px;
    height: auto;
    margin: 12px;
    border-radius: 50%;
    border: 1px solid  linear-gradient(#1ad3d3, #5e82f7, #343434);
    background-color: #fff;
}

.sec-title{
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
    text-align: center;
 
    border-radius: 8px;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

.sec-title h3{
    background-color: #f3ec78;
    background-image: conic-gradient(#f3ec78, #af4261);
    background-image: linear-gradient(#1ad3d3, #5e82f7, #343434);
    background-size: 100%;
    text-shadow: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-style: bold;
    font-weight: 600;
    font-size: 40px;
}

@media(max-width: 700px){
    .sec-title{
        width: 90%;
        padding:15px 10px;
    }
    .sec-title h3{
        font-size: 400
    }
}

.our-services{
    margin: 20px 12px;
}

